@import './Content/sass/variable.scss';

html,
body,
#root {
    width: 100%;
    height: 100vh;
}

.header-right-list {
    display: flex;

    &>li {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.p-button {
    background-color: red;
}

.apexcharts-menu.apexcharts-menu-open {
    text-align: left;
}

.apexcharts-menu-icon {
    svg {
        fill: #fff !important;
    }
}

.filter-header {
    text-align: right;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
        display: flex;

        &>* {
            margin-right: 15px;
        }

        input {
            background: #283157;
            border: 0;
            color: #fff;
        }

        .p-button {
            border: 0 !important;
            background-color: rgb(255, 69, 96) !important;
        }
    }

    img {
        cursor: pointer;
        width: 30px;
    }
}

.user-dashboard-wrapper {
    background-color: #1b213b;
}

.apexcharts-toolbar {
    right: 15px !important;
    top: 15px !important;
}

.card {
    &.dashboard {
        .p-menubar {
            background-color: rgba(32, 39, 70, 0.9) !important;
        }
    }
}

.dashboard-footer {
    background-color: rgba(32, 39, 70, 0.9) !important;
    padding: 15px 0;

    p {
        margin: 0 0;
        line-height: normal;
        color: #fff;
    }
}

#root {
    &.root-dashboard {
        width: 100%;
        height: 100vh;
        background-color: #1b213b;
    }
}

.top-performer-wrapper {
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.5);
    padding: 15px 15px;

    &.north {
        background-color: #3ABEF9;
        background-image: linear-gradient(180deg, rgba(58, 190, 249, 0.1), rgba(53, 114, 239, 0.9));
    }

    &.east {
        background-color: #3ABEF9;
        background-image: linear-gradient(180deg, rgba(255, 143, 0, 0.9), rgba(255, 143, 0, 0.7));
    }

    &.south {
        background-color: #3ABEF9;
        background-image: linear-gradient(180deg, #615EFC, #7E8EF1);
    }

    &.west {
        background-color: #3ABEF9;
        background-image: linear-gradient(180deg, #FF9EAA, #FFD0D0);
    }

    &>table {
        width: 100%;

        th,
        td {
            text-align: left;
            font-size: 14px;
            color: #fff;
        }
    }
}