@import './Content/sass/variable.scss';

html,
body,
#root {
    width: 100%;
    height: 100vh;
}

.header-right-list {
    display: flex;

    &>li {
        &:first-child {
            margin-right: 10px;
        }
    }
}

.p-button {
    background-color: red;
}

.apexcharts-menu.apexcharts-menu-open {
    text-align: left;
}

.apexcharts-menu-icon {
    svg {
        fill: #fff !important;
    }
}

.pdf-report {
    text-align: right;
    padding: 20px 20px 0 20px;

    img {
        cursor: pointer;
        width: 30px;
    }
}

.user-dashboard-wrapper {
    background-color: #1b213b;
}

.apexcharts-toolbar {
    right: 15px !important;
    top: 15px !important;
}

.card {
    &.dashboard {
        .p-menubar {
            background-color: rgba(32, 39, 70, 0.9) !important;
        }
    }
}

.dashboard-footer {
    background-color: rgba(32, 39, 70, 0.9) !important;
    padding: 15px 0;

    p {
        margin: 0 0;
        line-height: normal;
        color: #fff;
    }
}

#root {
    &.root-dashboard {
        width: 100%;
        height: 100vh;
        background-color: #1b213b;
    }
}